* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
    margin: 0;
}

.app-footer,
.app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    background-color: rgb(65, 110, 110);
    padding: 10px;
}

.app-header {
    justify-content: space-between;
    height: 9vh;
}

.app-header nav * {
    margin-inline-start: 10px;

}

.book-app,
.home-page,
.about-page,
.book-details,
.add-books {
    min-height: 85vh;
    background-color: rgb(208, 237, 215);
    padding: 10px;
}



.book-filter {
    text-align: center;
}

input,
textarea,
select {
    border: 0;
    padding: 3px 6px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.327);
}


.home-page {
    text-align: center;
}

.home-page h2 {
    color: white;
    font-size: 20vw;
    position: fixed;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.8;
    text-shadow: -7px 7px 5px rgba(0,0,0,0.63);}


.home-page img {
width:100%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.622);
    margin-top:10px;
}